<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品详情</title>
  <!-- <link rel="stylesheet" href="./css/header.css"> -->
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="../css/details.css">
  <link rel="stylesheet" href="../publicJs/element_ui/element.css">
  <style>
    [v-cloak] {
      display: none;
    }

    #app {
      height: 100%;
    }

    .arrow_img {
      /* width: 11px;
      height: 7px; */
      /* background-color: #a3a29e; */
    }

    .item_wrap {
      display: none;
    }

    .right_point li {
      width: 160px;
      /* height: 40px; */
      line-height: 40px;
      text-align: center;
      cursor: pointer;
    }

    .right_point li:first-child {
      margin-top: 30px;
    }

    .el-tabs__content {
      padding-left: 0px;
    }

    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 178px;
      height: 178px;
      line-height: 178px;
      text-align: center;
    }

    .avatar {
      width: 178px;
      height: 178px;
      display: block;
    }

    /* reset */

body{font:12px/18px "宋体",arial,sans-serif;color:#585858;}

body,div,p,span,form,iframe,table,td,th,input,textarea,button,label,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}

h1,h2,h3,h4,h5,h6{font-size:100%; }

ul,ol,li,dl{list-style-type:none;}

em,i,dfn,cite,strong,small{font-style:normal;} 

img{border:0;}

fieldset,button,input,select,option{vertical-align:middle;font:12px/18px "宋体",arial,sans-serif;}

table{border-collapse:collapse;border-spacing:0}

textarea{resize:none}

/* color */

a:link,a:visited{text-decoration:none;}

a:hover{color:#ef4165;text-decoration:none;}

a:active{color:#1d7400;}

/* clearfix */

.clearfix:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}

*html .clearfix{ zoom:1;}



.preview{width:400px; height:465px; margin:10px 0px 0px 150px;float: right;}

/* smallImg */

.smallImg{position:relative; height:52px; margin-top:10px; background-color:#F1F0F0; padding:6px 5px; width:340px; overflow:hidden;float:left;}

.scrollbutton{width:14px; height:50px; overflow:hidden; position:relative; float:left; cursor:pointer; }

.scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{background:url(../img/details//箭头左可交互.png) no-repeat;
    background-color: #F1F0F0;
    width: 20px;
    margin-right: 5px;
    height: 64px;
    margin-top: 10px;
    background-position: 6px 25px;}

.scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{background:url(../img/details/箭头右可交互.png) no-repeat; 
    margin-left: 380px;
    margin-top: -65px;
    background-color: #F1F0F0;
    width: 20px;
    height: 64px;
    background-position: 7px 25px;}



#imageMenu {height:50px; width:360px; overflow:hidden; margin-left:0; float:left;}

#imageMenu li {height:50px; width:57px; overflow:hidden; float:left; text-align:center;}

#imageMenu li img{width:50px; height:50px;cursor:pointer;}

#imageMenu li#onlickImg img, #imageMenu li:hover img{ width:44px; height:44px; border:3px solid #959595;}

/* bigImg */

.bigImg{position:relative; float:left; width:400px; height:400px; overflow:hidden;}

.bigImg #midimg{width:400px; height:400px;}

.bigImg #winSelector{width:235px; height:210px;}

#winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}

/* bigView */

#bigView{position:absolute;border: 1px solid #959595; overflow: hidden; z-index:999;top: 115px!important;width: 470px;height: 420px;left: 765px!important;margin-left: 50px;}

#bigView img{position:absolute;}

</style>
</head>

<body id="bod">
  <div id="app" v-cloak>
    <!-- 左侧下拉框  进行颜色和模板得选择 -->
    <div class="right">
      <div class="right_point">
        <li>
          <!-- <div class="item">
              选择宝贝
              <img src="../img/ar_down.png" alt="" class="arrow_img">
          </div> -->
            <el-select  v-model="goods" placeholder="请选择宝贝" @change="changeSelect">
              
              <el-option
                v-for="item in options"
                :key="item.goods_id"
                :label="item.goods_name"
                :value="item.goods_id+','+item.goods_name"
                >
              </el-option>
              
            </el-select>

        </li>
        <li>
          <div class="item">
            店铺详情页模板
            <img src="../img/ar_down.png" alt="" class="arrow_img">
          </div>
          <div class="right_top item_wrap" v-for="(value,index) of indexshoe" :key="index">
            <img :src="value.img" alt="" class="right_litter" @click="changesol(value.name,index)">
            <p>{{value.name}}</p>
          </div>
        </li>
        <li>
          <div class="item">
            店铺详情页配色
            <img src="../img/ar_down.png" alt="" class="arrow_img">
          </div>
          <div class="item_wrap">
            <div class="right_top " v-for="(item,index) of indexlist">
              <img :src="item.img" alt="" class="right_litter" @click="change(true,item.id)">
              <p>{{item.name}}</p>
            </div>
          </div>
        </li>
      </div>
    </div>

    <!-- 右侧内容 -->
    <div class="left">
      <!-- 头部 -->
      <div style="width: 1200px;margin: 0 auto;display: flex;justify-content: space-around;">
        <!-- 头部左侧 -->
        <div class="login_top">
          <img src="../index/img/logo (2).png" alt="">
          <div class="login_pic">
            <p>卡乐芙+海外专营店</p>
            <p>在售商品1182个</p>
          </div>
          <!-- <button class="show_hide1 buttoncom" @click="editor(1)" style="margin: 19px 50px;">编辑</button> -->
        </div>
        <!-- 头部右侧 -->
        <div class="right_but">
          <a target="_blank">
            <button @click="href(true)">预览</button>
            <button @click="href(false)">个人中心</button>
          </a>
        </div>
      </div>
    </div>
    <!-- 导航条 -->
    <div class="left_top" v-bind:style="{'background':activeColor}">
      <div class="left_dao">
        <div class="left_1"><a href="">首页</a></div>
        <!-- <p>全部商品</p> -->
      </div>
    </div>
    <!-- 中间过渡层 -->
    <div class="left_sec">
      <p>以上为页头区域</p>
    </div>

    <!-- 宝贝详情上部 -->
    <div class="cent ban">
      <!-- 详情左侧 -->
      <div class="bandN">
          <div class="tit_l">
              <a href="">宝贝主图</a>
              <button class="show_hide2 buttoncom1" @click="editor(4)">编辑</button>
          </div>
          <!-- 详情小图切换大图 -->
          <div class="preview">

              <div id="vertical" class="bigImg">
          
                  <img src="../img/details/主图1.png" width="400" height="400" alt="" id="midimg" />
          
                  <div style="display:none;" id="winSelector"></div>
          
              </div><!--bigImg end-->	
              
              <div class="scrollbutton smallImgUp disabled"></div>
              <div class="smallImg">
          
          
                  <div id="imageMenu">
          
                      <ul>
          
                          <li id="onlickImg"><img src="../img/details/主图1.png" width="68" height="68" alt="洋妞"/></li>
          
                          <li><img src="../img/details/主图2.png" width="68" height="68" alt="洋妞"/></li>
          
                          <li><img src="../img/details/主图3.png" width="68" height="68" alt="洋妞"/></li>
          
                          <li><img src="../img/details/主图4.png" width="68" height="68" alt="洋妞"/></li>
          
                          <li><img src="../img/details/主图5.png" width="68" height="68" alt="洋妞"/></li>
          
                          <li><img src="../img/details/主图6.png" width="68" height="68" alt="洋妞"/></li>
          
                      </ul>
          
                  </div>
          
                  
                </div><!--smallImg end-->	
                
                <div id="bigView" style="display:none"><img width="800" height="800" alt="" src="" /></div>
                
                <div class="scrollbutton smallImgDown"></div>
          
          </div>
      </div>
      <!-- 详情右侧 -->
      <div class="navCo">
          <div class="tit_ll">
              <a href="">基础信息</a>
              <button class="show_hide1 buttoncom2" @click="editor(1)">编辑</button>
          </div>
          <div class="nav_title">
              <span>UNTIL EIGHTY条纹绑带文艺小清新吊带背心女原创自制</span>
          </div>
          <div class="nav_price">
              <div class="nav_pri">售 价<p>￥109.00</p></div>
              <div class="nav_you">
                  <div style="float: left;">优 惠</div>
                  <div class="nav_l" style="float: left;">
                      <img src="../img/details/优惠券左边.png" alt=""><img src="../img/details/优惠券中间.png" alt=""><img src="../img/details/优惠券右边.png" alt="">
                      <div class="nav_wen">99-10</div>
                  </div>
                  <div class="nav_r" style="float: left;">
                      <img src="../img/details/优惠券左边.png" alt=""><img src="../img/details/优惠券中间.png" alt=""><img src="../img/details/优惠券右边.png" alt="">
                      <div class="nav_w">199-30</div>
                  </div>
              </div>
          </div>
          <div class="nav_gu">
              <div style="float: left;">规格</div>
              <div class="nav_g">
                  <span>100g/支</span>
                  <img src="../img/details/选中规格.png" alt="" style="float: right;">
              </div>
          </div>
          <div class="nav_count">
              <div style="float: left;">数量</div>
              <div class="nav_co">
                  <button>-</button>
                  <span>1</span>
                  <button>+</button>
              </div>
          </div>
          <div class="nav_pro">
              <div style="float: left;">承诺</div>
              <img src="../img/details/七天无理由退款.png" alt=""><span>七天退换</span>
              <img src="../img/details/按时到货.png" alt=""><span>按时到货</span>
              <img src="../img/details/买.png" alt=""><span>买家保障</span>
          </div> 
          <div class="nav_btn">
              <span>立即购买</span>
          </div>
      </div>
    </div>
    <!-- 宝贝详情下部 -->
    <div class="f2_top">
        <a href="">宝贝详情配置</a>
        <button class="show_hide buttoncom3" @click="editor(2)">编辑</button>
    </div>
    <div class="center band">
        <div class="banditem">
          <div class="fir">
            <a href="">卡乐芙+海外专营店</a>
          </div>
          <div class="first">
            <div class="first_btn">
              <a>进入店铺</a>
            </div>
          </div>
        </div>
    
        <div class="nav">
          <div class="navCont">
            <div class="contTitle">
              <a href="">详情</a>
            </div>
            <div class="contTit">
              <a href="">用户评价</a>
            </div>
          </div>
          <!-- 产品参数 -->
          <div class="content">
            <p>产品参数</p>
            <div class="content_1">
              <p>适用年龄: <span>18-24周岁</span></p>
              <p>图案: <span>条纹</span></p>
              <p>颜色分类: <span>杏色</span></p>
              <p>成分含量: <span>51%(含)-70%(含)</span></p>
              <p>服装版型: <span>直筒</span></p>
            </div>
            <div class="content_2">
              <p>质地: <span>棉</span></p>
              <p>风格: <span>原创设计</span></p>
              <p>克重: <span>201g/m^2 (含)-250g/m^2 (含)</span></p>
              <p>年份季节: <span>2017年春季</span></p>
              <p>款式: <span>背带</span></p>
            </div>
            <div class="content_3">
              <p>尺码: <span>S M L</span></p>
              <p>流行元素: <span>拼接 系带</span></p>
              <p>组合形式: <span>单件</span></p>
              <p>衣长: <span>短款</span></p>
              <p>货号: <span>C54</span></p>
            </div>
          </div>
          <!-- 包装说明 -->
          <div class="bao"> 
            <p>包装说明</p>
            <div class="bao_1">
              包装说明是包装的重要组成部分，它在宣传产品功效、争取消费者了解、指导人们正确消费方面有重大作用。特别是当市场广泛采用无人售货的方式后，包装说明更是起到了无声推销员的作用。
            </div>
          </div>
          <!-- 产品资质 -->
          <div class="zi">
            <p>产品资质</p>
            <div class="zi_1">
              <img src="../img/details/认证书.png" alt="">
            </div>
          </div>
          <!-- 详情图 -->
          <div class="chan">产品描述</div>
          <div class="miao">
            <img src="../img/details/详情.png" alt="">
          </div>
          <!-- 页脚 -->
          <div class="ban">
            <p>版权所有</p>
          </div>
        </div>
    </div>


    <!-- 编辑弹出框 -->

    <!-- 详情页宝贝主图 -->
    <div class="zhe " :class="{ishow2:isshow4}">
      <div class="model zhecommon" :class="{ishow2:isshow4}" style="width: 846px;height: 560px;top: 23.3%;">

        <div class=zhe_head>
          <p style="color: #ffffff; font-size:14px;">宝贝主图</p>
          <div class="logo_hea" @click="editor(0)"></div>
        </div>

        <div class="zhe_top " style="width: 820px;height: 510px;">
          <el-tabs v-model="activeName" type="card" @tab-click="handleClick" class="zhe_ma">

            <el-tab-pane label="宝贝图片" name="first">
              <template slot-scope="scope">
                
                <div style="display: flex; margin-bottom: 40px;">
                  <p style="display:inline ;">摸板尺寸：</p>
                  <p style="color:#999999;">此模块图片设计尺寸最佳为400*400px，小于或大于时图片将会变形（最少可传3张，最多可传6张）</p>
                </div>

                <div style="display: flex;" style="width: 860px;">
                  <p style="display:inline ;width: 100px;">内容设置：</p>
                    <el-upload id="upload" :class="{hide:hideUpload}" ref="upload" :on-change="imgChange" :on-success="handleAvatarSuccess" :file-list="fileList" :action="fileUp" :limit="6" list-type="picture-card"
                    :on-preview="handlePictureCardPreview" :on-remove="handleRemove" style="width: 850px;display: block;">
                    <i class="el-icon-plus"></i>
                    </el-upload>                
                </div>

                <div>
                  <div class="right_but" style="width: 214px;margin: 0 auto;">
                    <button @click="save(1)">保存</button>
                    <button @click="editor(0)">取消</button>
                  </div>
                </div>

              </template>
            </el-tab-pane>
          </el-tabs>
        </div>
        <div class="ihide" @click="editor(0)"></div>
      </div>
    </div>
    <!-- 详情页基础信息 -->
    <div class="zhe " :class="{ishow2:isshow2}">
      <div class="model zhecommon" :class="{ishow2:isshow2}">
        <div class=zhe_head>
          <p>基础信息</p>
          <div class="logo_hea" @click="editor(0)"></div>
        </div>
        <div class="zhe_top ">
          <el-tabs v-model="activeName" type="card" @tab-click="handleClick" class="zhe_magin">
            <el-tab-pane label="宝贝信息" name="first">
              <template slot-scope="scope">
                <div style="display: flex; margin-top: 10px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px;">宝贝售价：</p>
                  <el-input id="goods_price" v-model="goods_price" placeholder="请输入价格" style="width: 419px;height: 32px;margin-left: 10px;"><i slot="suffix" style="font-size: 14px;font-family: SourceHanSansCN-Normal; color: #000;line-height: 32px;">元</i></el-input>
                </div>
                <div style="display: flex; margin-top: 30px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px;">优惠信息：</p>
                  <div class="dan">
                    <el-radio v-model="goods_radio" label="0">显示</el-radio>
                    <el-radio v-model="goods_radio" label="1">不显示</el-radio>
                  </div>
                  
                </div>
                <div style="display: flex; margin-top: 22px;margin-left: 10px;">
                  <span style="font-size: 14px; color: #222222;font-family: SourceHanSansCN-Normal;margin: 10px 10px 0 90px;">满</span>
                    <el-input id="goods_full1" v-model="goods_full1" placeholder="请输入满价格" style="width: 178px;height: 32px;"><i slot="suffix" style="font-size: 14px;font-family: SourceHanSansCN-Normal; color: #000;line-height: 32px;">元</i></el-input>
                  <span style="font-size: 14px; color: #222222;font-family: SourceHanSansCN-Normal;margin: 10px 10px 0 10px;">减</span>
                    <el-input id="goods_minus1" v-model="goods_minus1" placeholder="请输入减价格" style="width: 178px;height: 32px;"><i slot="suffix" style="font-size: 14px;font-family: SourceHanSansCN-Normal; color: #000;line-height: 32px;">元</i></el-input>
                </div>
                <div style="display: flex; margin-top: 22px;margin-left: 10px;">
                  <span style="font-size: 14px; color: #222222;font-family: SourceHanSansCN-Normal;margin: 10px 10px 0 90px;">满</span>
                    <el-input id="goods_full2" v-model="goods_full2" placeholder="请输入满价格" style="width: 178px;height: 32px;"><i slot="suffix" style="font-size: 14px;font-family: SourceHanSansCN-Normal; color: #000;line-height: 32px;">元</i></el-input>
                  <span style="font-size: 14px; color: #222222;font-family: SourceHanSansCN-Normal;margin: 10px 10px 0 10px;">减</span>
                    <el-input id="goods_minus2" v-model="goods_minus2" placeholder="请输入减价格" style="width: 178px;height: 32px;"><i slot="suffix" style="font-size: 14px;font-family: SourceHanSansCN-Normal; color: #000;line-height: 32px;">元</i></el-input>
                </div>
                <div style="display: flex; margin-top: 24px;margin-left: 10px;">
                  <div style="font-size: 12px;color: #cccccc;font-family: SourceHanSansCN-Normal;margin-left: 90px;">宝贝使用门槛金额必须高于优惠金额</div>
                </div>
                
                <div style="display: flex; margin-top: 30px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px;">宝贝规格：</p>
                  <el-input id="goods_val" v-model="goods_val" placeholder="请输入数值" style="width: 203px;height: 32px;margin-left: 10px;"></el-input>
                  <el-input id="goods_spec" v-model="goods_spec" placeholder="请输入单位" style="width: 100px;height: 32px;margin-left: -100px;"></el-input>
                </div>
                
                <div>
                  <div class="right_but" style="width: 214px;margin: 44px auto;">
                    <button @click="save(2)">保存</button>
                    <button @click="editor(0)">取消</button>
                  </div>
                </div>

              </template>
            </el-tab-pane>
          </el-tabs>
        </div>
        <div class="ihide" @click="editor(0)"></div>
      </div>
    </div>
    <!-- 宝贝详情配置 -->
    <div class="zhe " :class="{ishow:isshow}">
      <div class="model zhecommon" :class="{ishow:isshow}" style="height:600px;top:23.3%">
        <div class=zhe_head>
          <p>宝贝详情配置</p>
          <div class="logo_hea" @click="editor(0)"></div>
        </div>
        <!-- 主要内容 -->
        <div class="zhe_top" style="height:545px;position: relative;">
          <el-tabs v-model="activeName" type="card" @tab-click="handleClick" class="zhe_magin">
            <!-- 产品参数 -->
            <el-tab-pane label="产品参数" name="first">
              <template slot-scope="scope">
                
                  <div class="l_l_con">
                    <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px;">宝贝参数：</p>
                    <div class="lcon">
                      <div class="list_c" v-for="(item,index) in tabledata">
                        <!-- <input type="text"/> -->
                          <el-checkbox id="cb1" @change="checkChange(index)"  :class="{'is-checked':check==item.check_status}" :key="item.dictionary_id">{{item.dictionary_name}}</el-checkbox>
                          <!-- <el-checkbox id="cb1" @change="checkChange(index)" :checked="false" :key="item.dictionary_id" v-else>{{item.dictionary_name}}</el-checkbox> -->
                          <input type="text" v-model="item.dictionary_value" placeholder="请输入参数值" style="border-bottom:1px solid #e1e1e1; margin-left: -10px; height:30px; line-height:30px;">
                      </div>
                    </div>
                  </div>  
 
                <div>
                  <div class="right_but" style="width: 214px;position: fixed;
                  top: 76%;
                  left: 50%;">
                    <button @click="save()">保存</button>
                    <button @click="editor(0)">取消</button>
                  </div>
                </div>
              </template>
            </el-tab-pane>

            <!-- 包装说明 -->
            <el-tab-pane label="包装说明" name="second">
              <template slot-scope="scope">
                <div style="display: flex; margin-top: 10px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px;">信息显示：</p>
                  <div class="dan">
                    <el-radio v-model="description_radio" label="0">显示</el-radio>
                    <el-radio v-model="description_radio" label="1">不显示</el-radio>
                  </div>
                </div>
                <div style="display: flex; margin-top: 30px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px; width: 85px;" >包装说明：</p>
                  <el-input
                    style="margin-left: 15px;"
                    type="textarea"
                    :autosize="{ minRows: 8, maxRows: 10}"
                    placeholder="请输入内容"
                    v-model="set_description">
                  </el-input>
                </div>

                <div>
                  <div class="right_but" style="width: 214px;margin: 14px auto; position: fixed;
                  top: 76%;
                  left: 50%;">
                    <button @click="save()">保存</button>
                    <button @click="editor(0)">取消</button>
                  </div>
                </div>
              </template>
            </el-tab-pane>

            <!-- 产品资质 -->
            <el-tab-pane label="产品资质" name="third">
              <template slot-scope="scope">
                <div style="display: flex; margin-top: 10px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px;">信息显示：</p>
                  <div class="dan">
                    <el-radio v-model="qualification_radio" label="0">显示</el-radio>
                    <el-radio v-model="qualification_radio" label="1">不显示</el-radio>
                  </div> 
                </div>
                <div style="display: flex; margin-top: 30px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px; width: 79px;" >包装说明：</p> 
                  <el-upload  ref="upload" :on-success="handleAvatarSuccess1" :file-list="fileList1" :action="fileUp" :limit="1" list-type="picture-card"
                  :on-preview="handlePictureCardPreview1" :on-remove="handleRemove1" style="width: 148px; height: 148px;margin-left: 10px;">
                  <i class="el-icon-plus"></i>
                  </el-upload>
                </div>

                <div>
                  <div class="right_but" style="width: 214px;margin: 14px auto; position: fixed;
                  top: 76%;
                  left: 50%;">
                    <button @click="save()">保存</button>
                    <button @click="editor(0)">取消</button>
                  </div>
                </div>
              </template>
            </el-tab-pane>

            <!-- 详情图 -->
            <el-tab-pane label="详情图" name="fourth">
              <template slot-scope="scope">
                <div style="display: flex; margin-top: 10px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px;">信息显示：</p>
                  <div class="dan">
                    <el-radio v-model="detailsPic_radio" label="0">显示</el-radio>
                    <el-radio v-model="detailsPic_radio" label="1">不显示</el-radio>
                  </div>  
                </div>
                <div style="display: flex; margin-top: 30px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px; width: 79px;" >包装说明：</p>
                  <el-upload  ref="upload" :on-success="handleAvatarSuccess2" :file-list="fileList2" :action="fileUp" :limit="1" list-type="picture-card"
                  :on-preview="handlePictureCardPreview2" :on-remove="handleRemove2" style="width: 148px; height: 148px;margin-left: 10px;">
                  <i class="el-icon-plus"></i>
                  </el-upload>
                  </el-upload>
                </div>

                <div>
                  <div class="right_but" style="width: 214px;margin: 14px auto; position: fixed;
                  top: 76%;
                  left: 50%;">
                    <button @click="save()">保存</button>
                    <button @click="editor(0)">取消</button>
                  </div>
                </div>
              </template>
            </el-tab-pane>

            <!-- 用户评价 -->
            <el-tab-pane label="用户评价" name="fifth">
              <template slot-scope="scope">
                <div style="display: flex; margin-top: 10px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px;">信息显示：</p>
                  <div class="dan">
                    <el-radio v-model="evaluation_radio" label="0">显示</el-radio>
                    <el-radio v-model="evaluation_radio" label="1">不显示</el-radio>
                  </div>
                </div>
                <div style="display: flex; margin-top: 30px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px;">评价等级：</p>
                  <div class="dan">
                    <el-radio v-model="checkList_radio" label="0">显示</el-radio>
                    <el-radio v-model="checkList_radio" label="1">不显示</el-radio>
                    <span style="color:#999999;">(好评 / 中评 / 差评)</span>
                  </div>
                </div>
                <div style="display: flex; margin-top: 30px;">
                  <p style="display:inline; font-family: SourceHanSansCN-Normal; color: #222222; font-size: 14px;">评价内容：</p>
                  <el-checkbox-group v-model="check">
                    <el-checkbox label="文字"></el-checkbox>
                    <el-checkbox label="图片" style="margin-left: -4px;"></el-checkbox>
                  </el-checkbox-group>
                </div>
                
                <div>
                  <div class="right_but" style="width: 214px;margin: 14px auto; position: fixed;
                  top: 76%;
                  left: 50%;">
                    <button @click="save()">保存</button>
                    <button @click="editor(0)">取消</button>
                  </div>
                </div>
              </template>
            </el-tab-pane>
          </el-tabs>
        </div>
        <div class="ihide" @click="editor(0)"></div>
      </div>
    </div>
    
    
    <!-- 颜色替换 -->
    <div class="zhe" :class="{change:ischange}">
      <div class="modela" :class="{change:ischange}">
        <img src="../img/index/close.png" alt="" @click="change(false)">
        <p>替换颜色成功！</p>
      </div>
    </div>
  </div>
</body>
<script src="../publicJs/vue.js"></script>
<script src="../js/pub.js"></script>
<script src="../publicJs/axios.js"></script>
<script src="../publicJs/jquery.1.4.2-min.js"></script>
<script src="../publicJs/element_ui/element.js"></script>
<script src="../js/details.js"></script>
<script>
  let items = document.querySelectorAll('.item'),
    itemWraps = document.querySelectorAll('.item_wrap');
  // console.log(itemWraps)
  items.forEach((ele, index) => {
    ele.dispBol = 'false'; //创建一个属性来记录当前面板是否展开   true 展开 false折叠 
    items[index].onclick = ((e) => {
      let thisDispBol = e.toElement.dispBol; //先保存thisDisBol。接下来要重置
      itemsInit();
      thisDispBol == 'false' ? e.toElement.dispBol = 'true' : e.toElement.dispBol = 'false';
      repaint();
    });
  })

  function repaint() {
    items.forEach((ele, index) => {
      // console.log(155);

      ele.dispBol == 'true' ? itemWraps[index].style.display = 'block' : itemWraps[index].style.display = 'none';
    })
  }

  function itemsInit() {
    items.forEach((ele, index) => {
      ele.dispBol = 'false';
    })
  }
</script>
<script>
  // 详情大小图切换
  $(document).ready(function(){
  
  // 图片上下滚动
  
  var count = $("#imageMenu li").length - 5; /* 显示 6 个 li标签内容 */
  
  var interval = $("#imageMenu li:first").width();
  
  var curIndex = 0;
  
  
  
  $('.scrollbutton').click(function(){
  
      if( $(this).hasClass('disabled') ) return false;
  
      
  
      if ($(this).hasClass('smallImgUp')) --curIndex;
  
      else ++curIndex;
  
      
  
      $('.scrollbutton').removeClass('disabled');
  
      if (curIndex == 0) $('.smallImgUp').addClass('disabled');
  
      if (curIndex == count-1) $('.smallImgDown').addClass('disabled');
  
      
  
      $("#imageMenu ul").stop(false, true).animate({"marginLeft" : -curIndex*interval + "px"}, 600);
  
  });	
  
  // 解决 ie6 select框 问题
  
  $.fn.decorateIframe = function(options) {
  
      if ($.browser.msie && $.browser.version < 7) {
  
          var opts = $.extend({}, $.fn.decorateIframe.defaults, options);
  
          $(this).each(function() {
  
              var $myThis = $(this);
  
              //创建一个IFRAME
  
              var divIframe = $("<iframe />");
  
              divIframe.attr("id", opts.iframeId);
  
              divIframe.css("position", "absolute");
  
              divIframe.css("display", "none");
  
              divIframe.css("display", "block");
  
              divIframe.css("z-index", opts.iframeZIndex);
  
              divIframe.css("border");
  
              divIframe.css("top", "0");
  
              divIframe.css("left", "0");
  
              if (opts.width == 0) {
  
                  divIframe.css("width", $myThis.width() + parseInt($myThis.css("padding")) * 2 + "px");
  
              }
  
              if (opts.height == 0) {
  
                  divIframe.css("height", $myThis.height() + parseInt($myThis.css("padding")) * 2 + "px");
  
              }
  
              divIframe.css("filter", "mask(color=#fff)");
  
              $myThis.append(divIframe);
  
          });
  
      }
  
  }
  
  $.fn.decorateIframe.defaults = {
  
      iframeId: "decorateIframe1",
  
      iframeZIndex: -1,
  
      width: 0,
  
      height: 0
  
  }
  
  //放大镜视窗
  
  $("#bigView").decorateIframe();
  
  //点击到中图
  
  var midChangeHandler = null;
  
  
  
  $("#imageMenu li img").bind("click", function(){
  
      if ($(this).attr("id") != "onlickImg") {
  
          midChange($(this).attr("src").replace("small", "mid"));
  
          $("#imageMenu li").removeAttr("id");
  
          $(this).parent().attr("id", "onlickImg");
  
      }
  
  }).bind("mouseover", function(){
  
      if ($(this).attr("id") != "onlickImg") {
  
          window.clearTimeout(midChangeHandler);
          
          midChange($(this).attr("src").replace("small", "mid"));
  
          $(this).css({ "border": "3px solid #959595" });
  
      }
  
  }).bind("mouseout", function(){
  
      if($(this).attr("id") != "onlickImg"){
  
          $(this).removeAttr("style");
  
          midChangeHandler = window.setTimeout(function(){
  
              midChange($("#onlickImg img").attr("src").replace("small", "mid"));
  
          }, 1000);
  
      }
  
  });
  
  function midChange(src) {
  
      $("#midimg").attr("src", src).load(function() {
  
          changeViewImg();
  
      });
  
  }
  
  //大视窗看图
  
  function mouseover(e) {
  
      if ($("#winSelector").css("display") == "none") {
  
          $("#winSelector,#bigView").show();
  
      }
  
      $("#winSelector").css(fixedPosition(e));
  
      e.stopPropagation();
  
  }
  
  function mouseOut(e) {
  
      if ($("#winSelector").css("display") != "none") {
  
          $("#winSelector,#bigView").hide();
  
      }
  
      e.stopPropagation();
  
  }
  
  $("#midimg").mouseover(mouseover); //中图事件
  
  $("#midimg,#winSelector").mousemove(mouseover).mouseout(mouseOut); //选择器事件
  
  
  
  var $divWidth = $("#winSelector").width(); //选择器宽度
  
  var $divHeight = $("#winSelector").height(); //选择器高度
  
  var $imgWidth = $("#midimg").width(); //中图宽度
  
  var $imgHeight = $("#midimg").height(); //中图高度
  
  var $viewImgWidth = $viewImgHeight = $height = null; //IE加载后才能得到 大图宽度 大图高度 大图视窗高度
  
  
  
  function changeViewImg() {
  
      $("#bigView img").attr("src", $("#midimg").attr("src").replace("mid", "big"));
  
  }
  
  changeViewImg();
  
  $("#bigView").scrollLeft(0).scrollTop(0);
  
  function fixedPosition(e) {
  
      if (e == null) {
  
          return;
  
      }
  
      var $imgLeft = $("#midimg").offset().left; //中图左边距
  
      var $imgTop = $("#midimg").offset().top; //中图上边距
  
      X = e.pageX - $imgLeft - $divWidth / 2; //selector顶点坐标 X
  
      Y = e.pageY - $imgTop - $divHeight / 2; //selector顶点坐标 Y
  
      X = X < 0 ? 0 : X;
  
      Y = Y < 0 ? 0 : Y;
  
      X = X + $divWidth > $imgWidth ? $imgWidth - $divWidth : X;
  
      Y = Y + $divHeight > $imgHeight ? $imgHeight - $divHeight : Y;
  
  
  
      if ($viewImgWidth == null) {
  
          $viewImgWidth = $("#bigView img").outerWidth();
  
          $viewImgHeight = $("#bigView img").height();
  
          if ($viewImgWidth < 200 || $viewImgHeight < 200) {
  
              $viewImgWidth = $viewImgHeight = 800;
  
          }
  
          $height = $divHeight * $viewImgHeight / $imgHeight;
  
          $("#bigView").width($divWidth * $viewImgWidth / $imgWidth);
  
          $("#bigView").height($height);
  
      }
  
      var scrollX = X * $viewImgWidth / $imgWidth;
  
      var scrollY = Y * $viewImgHeight / $imgHeight;
  
      $("#bigView img").css({ "left": scrollX * -1, "top": scrollY * -1 });
  
      $("#bigView").css({ "top": 75, "left": $(".preview").offset().left + $(".preview").width() + 15 });
  
  
  
      return { left: X, top: Y };
  
  }
  
  });
</script>
<script>
// 数量加减
var nav=document.getElementsByClassName("nav_co");
var btns=nav[0].getElementsByTagName("button");
// console.log(btns);
for(var btn of btns){
  btn.onclick=function(){
      var span=this.parentNode.children[1];
      var n=parseInt(span.innerHTML);//按值传递
      if(this.innerHTML=="+"){
          n++;
      }else if(n>1){//否则如果当前点的按钮的内容是-,且n>1时，才对n-1
          n--;
      }
      span.innerHTML=n;
  }
}
</script>

</html>